<% var title = 'Your Profile || Tripify' %>
    <header>
        <h1>Hi, <%= user.username %> </h1>
    </header>
    <main>
        <h2>Upcoming Itineraries</h2>

        <% if (itineraries.length === 0) { %>
          <p>No upcoming trips planned yet.</p>
        <% } else { %>
          <ul>
            <% itineraries.forEach(itinerary => { %>
              <li>
                <a href="/itineraries/<%=itinerary._id%>">
                    <strong><%= itinerary.title %></strong>
                </a>
                <% if (itinerary.coverPhoto) { %>
                  <div>
                    <img src="<%= itinerary.coverPhoto %>" alt="Trip Cover" style="width: 200px; height: auto;">
                  </div>
                <% } %>
              </li>
            <% }) %>
          </ul>
        <% } %>


       <%- include('../partials/_itineraryForm.ejs') %>
       <h3><a href="/profile/edit"> Edit Profile Settings</a> </h3>
    
