<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tripify Profile</title>
</head>
<body>
    <header>
        <%- include('../partials/_nav-bar.ejs') %>
        <h1>Hi, <%= user.username %> </h1>
    </header>
    <main>
        <h2>Upcoming Itineraries</h2>
        <% if (user.itineraries.length > 0) { %>
            <ul>
                <% user.itineraries.forEach(function(itineraryId) { %>
                    <li>
                        <a href="/itineraries/<%= itineraryId %>">
                            <% /* Fetch itinerary details like title here */ %>
                            <%= itineraryId %> <!-- You can display the title or other details here -->
                        </a>
                    </li>
                <% }); %>
            </ul>
        <% } else { %>
            <p>No upcoming itineraries</p>
        <% } %>
        
       <%- include('../partials/_itineraryForm.ejs') %>
       <h3><a href="/profile/edit"> Edit Profile Settings</a> </h3>
    </main>

    <footer>
        <p> &copy; 2025 Tripify. All rights reserved.</p>
    </footer>

</body>
</html>
