<% var title='Your Profile || Tripify' %>

  <div class="profile-header">
    <h1>Hi, <%= user.username %>
    </h1>
    <a href="/profile/edit" class="button edit-link">Edit Profile</a>
  </div>

  <main>
    <h2>Upcoming Itineraries</h2>

    <% if (itineraries.length===0) { %>
      <p>No upcoming trips planned yet.</p>
      <% } else { %>
        <div class="card-container">
          <% itineraries.forEach(itinerary=> { %>
            <div class="itinerary-card">
              <% if (itinerary.coverPhoto) { %>
                <img src="<%= itinerary.coverPhoto %>" alt="<%= itinerary.title %> Cover">
                <% } %>
                  <div class="content">
                    <h3><a href="/itineraries/<%= itinerary._id %>">
                        <%= itinerary.title %>
                      </a></h3>
                    <p><strong>Duration:</strong>
                      <%= itinerary.duration %> days
                    </p>
                    <p><strong>Budget:</strong> $<%= itinerary.budget %>
                    </p>
                  </div>
            </div>
            <% }) %>
        </div>
        <% } %>

          <%- include('../partials/_itineraryForm.ejs') %>

  </main>
